[submodule "code/floating-point/googletest"]
    path = code/floating-point/googletest
    url = git@github.com:vietlq/googletest.git
    branch = master
[submodule "themes/gohugo-theme-ananke"]
    path = themes/gohugo-theme-ananke
    url = https://github.com/budparr/gohugo-theme-ananke.git
    branch = master
[submodule "themes/hugo-geo"]
    path = themes/hugo-geo
    url = https://github.com/alexurquhart/hugo-geo.git
    branch = master
[submodule "themes/hugo-icarus-theme"]
    path = themes/hugo-icarus-theme
    url = https://github.com/digitalcraftsman/hugo-icarus-theme.git
    branch = master
[submodule "themes/hugo-uno"]
    path = themes/hugo-uno
    url = https://github.com/fredrikloch/hugo-uno.git
    branch = master
[submodule "themes/hugo_theme_robust"]
    path = themes/hugo_theme_robust
    url = https://github.com/dim0627/hugo_theme_robust.git
    branch = master
[submodule "themes/hugo_theme_solit"]
    path = themes/hugo_theme_solit
    url = https://github.com/dim0627/hugo_theme_solit.git
    branch = master
[submodule "themes/hyde"]
    path = themes/hyde
    url = https://github.com/spf13/hyde.git
    branch = master
